<%= render 'shared/title', title: "Edit Skill" %>
<div class="row">
  <div class="medium-4 columns">
    <%= render 'form' %>
    <%= link_to "<i class=\"fi-arrow-left\"></i> Back".html_safe, edit_resume_path(@resume), title: "Back to Dashboard" %>
  </div>
</div>