$("#modal").html('<a class="close-reveal-modal">&#215;</a>');
$("<%= escape_javascript(render 'projects/form') %>").prependTo('#modal');
$("<%= escape_javascript(render 'shared/title', title: "Edit Project") %>").prependTo('#modal');
$('#modal').foundation('reveal', 'open');