<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_with_description', 
        title: education.degree,
        subtitle: education.school,
        start_date: education.start,
        end_date: education.end,
        description: education.description
    %>
</div>