<div class="py-6 border-t border-blueGray-200 text-center">
    <div class="container flex flex-col mx-auto w-full items-center justify-center">
        <h2 class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"><%= heading %></h2>
        <%= yield %>
    </div>
</div>